<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/ibook_logo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/cadastro-cliente.css') }}" />
    <title>Criar</title>
</head>
<body>
    
    <header>
      <nav>
        <a href="/"
          ><img
            src="../static/img/ibook_logo.png"
            width="100"
            height="100"
            alt="Logo-Ibook"
          />
        </a>
        <ul class="nav-links">
          <li><a href="/admin">Voltar</a></li>
        </ul> 
      </nav>
        
      </header>
      <!-- Bloco onde fica o formulário -->
      <div class="container">
        <div class="form">
          <form action="{{ url_for('livro_bp.create_ibook') }}" method="POST" enctype="multipart/form-data">
            <div class="form-header">
              <div class="title">
                <h1>Cadastro de Livro</h1>
              </div>
            </div>
  
            <div class="input-group">
              <div class="input-box">
                <label for="livroNome">Nome</label>
                <input
                  id="livroNome"
                  type="text"
                  name="nome"
                  placeholder="Nome de livro"
                 
                />
              </div>
  
              <div class="input-box">
                <label for="preco">Preço R$</label>
                <input
                  id="preco"
                  type="preco"
                  name="preco"
                  placeholder="R$ 0,00"
                 
                />
              </div>
  
              <div class="input-box">
                <label for="estoque">Estoque</label>
                <input
                  id="estoque"
                  type="estoque"
                  name="qtd_estoque"
                  placeholder="Quantidade de estoque"
             
                />
              </div>
  
              <div class="input-box">
                <label for="img">Imagem</label>
                <input
                  id="img"
                  type="img"
                  name="img"
                  placeholder="URL de imagem"
                  
                />
              </div>
  
              
            <div class="continue-button">
              <button type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
</body>
</html>