<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/img/ibook_logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>iBooks</title>
  </head>
  <body>
    <!-- Barra de navegação -->
    <header>
      <nav>
        <a href="/"><img src="../static/img/ibook_logo.png" alt="" /></a>
        <ul class="nav-links">
          
          <li><a href="/cart">Carrinho</a></li>
        </ul>
    
        <a class="btn_login" href="/login">
          <button>Sair</button>
        </a>
      </nav>
    </header>

    {% for livro in  livros %}
    <div class="container">
      <div class="produto">
        <img src="../static/img/{{livro.nome}}.jpg" alt="">
        <p>{{livro.nome}}</p>
        <span>R${{livro.preco}}</span>
        <form action="/adicionar" method="post"> 
          <input type="hidden" name="produto_id" value={{livro.nome}}>
          <input type="hidden" name="valor" value={{livro.preco}}>
          <button type="submit">Comprar</button>
        </form>
      </div>
      
    </div>
    {% endfor %}

    <footer class="footer-bg">
      <div class="footer-container">
        <div class="sobre">
          <h2>Sobre</h2>
          <p>Dúvidas Frequentes</p>
        </div>
        <div class="formas-pagamentos">
          <h2>Formas de Pagamento</h2>
          <img src="../static/img/e-footer-formas-de-pagamentos.png" alt="" />
        </div>
        <div class="social">
          <h2>Social</h2>
          <p>SoviOng</p>
          <p><a href="/parceiros">Lojas</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
