<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'img/ibook_logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/default.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/painel-admin.css') }}"
    />
   
 
    <title>Admin</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/login"
          ><img
            src="../static/img/ibook_logo.png"
            width="100"
            height="100"
            alt="Logo-Ibook"
          />
        </a>
        <h1>Ações Admin</h1>
        <ul class="nav-links">
          <li><a href="/">Sair</a></li>
        </ul> 
      </nav>
         
    </header>
    <div class="container">
        <h2>Listagem de Clientes</h2>
        
          <div class="col-xs-12">
            <table class="tab">
              <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
              </thead>
              <tbody>
                {% for user in  usuarios %}
                <tr>
                  <td>{{ user.nome }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <a href="/atualizar/{{ user['id'] }}" class="btn-editar">Editar</a>
                  </td>
                  <td>
                    <a href="{{ url_for('cliente_bp.delete_customer', customer_id = user['id']) }}" methods="DELETE" class="btn-editar">Excluir</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  
          </div>
        </div>

        <div class="container">
          <h2>Listagem de Livros</h2>
       
            <div class="col-xs-12">
              <table class="tab">
                <thead>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Ações</th>
                </thead>
                <tbody>
                  {% for user in  usuarios %}
                  <tr>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <a href="/atualizar/{{ user['id'] }}" class="btn-editar">Editar</a>
                    </td>
                    <td>
                      <a href="{{ url_for('cliente_bp.delete_customer', customer_id = user['id']) }}" methods="DELETE" class="btn-editar">Excluir</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
          </div>

          <div class="container">
            <a href="/">
              <button type="button">Cadastrar Livro</button>
            </a>     
          </div>
      </body>
    </html>