<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    type="image/x-icon"
    href="{{ url_for('static', filename = 'img/ibook_logo.png') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/default.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/login.css') }}"
  />
    <title>Redefinição de Senha</title>
  </head>
  <body>
    <nav>
      <a href="/login"
        ><img
          src="../static/img/ibook_logo.png"
          width="100"
          height="100"
          alt="Logo-Ibook"
        />
    </nav>
    <section class="container">
      <div class="corpo-forms">
        <img src="../static/img/ibook_logo.png" alt="Logo-Ibook" />
        <form action="" method="POST">
          <input type="password" name="senha" id="id_senha" placeholder="Senha" />
          
          <input type="password" name="confirmaSenha" id="id_confirmaSenha" placeholder="Confirme a senha"/>

          <button type="submit">Redefinir</button><br />
        </form>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
