@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "DS-DIGITAL BOLD";
  src: url("../font/DS-DIGIB.TTF");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../font/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratLight";
  src: url("../font/Montserrat-Light.ttf");
}

@font-face{
  font-family: "fontello";
  src: url("../font/fontello.ttf")
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

*::-webkit-scrollbar {
  background-color: #060422;
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: linear-gradient(orange, #f441a5);
}

html,
body {
  height: 100%;
}

body {
  background: url(../img/Background.jpg) no-repeat center fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

ul {
  list-style: none;
}

textarea {
  min-height: 200px;
  width: 100%;
  background-color: rgb(33, 23, 90);
  margin-top: 5px;
  color: #fff;
  padding: 10px;
  resize: none;
}

.max-width {
  width: 100%;
}

.no-wrap-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon-mail:before { content: '\e800';}

.icon-lock:before{ content: '\e801';}

.icon-trash-empty:before { content: '\e802'; }

.icon-envelope-open-o:before{ content: '\f2b7'}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
}

.footer-table{
  margin-top: 20px;
}

.footer-table div ul{
  display: flex;
}

.footer-table div ul{
  display: flex;
}

.footer-table div ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 25px;
  margin: 0 5px;
  background: #b3f319;
  cursor: pointer;
}

/* Form styles */
.button-rgb {
  position: relative;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.button-rgb:hover {
  animation: animate 8s linear infinite;
}
.button-rgb:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 1s;
  z-index: -1;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
}
.button-rgb:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 550px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.input-form,
select {
  background: #282363;
  color: #ddd;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  height: 40px;
}
.input-form::placeholder {
  color: #aaa;
}

/* Header styles */
.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header-menu {
  display: flex;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
  flex: 1;
}
.menu-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 1 1 auto;
}
.menu-list .drop-down {
  text-align: center;
}
.drop-down {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #08a9b0;
  cursor: pointer;
  z-index: 3;
}
.wrapper .menu-list .drop-down span {
  pointer-events: none;
}
.drop-down .drop {
  position: absolute;
  display: none;
  background: rgba(51, 49, 49, 0.9);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  z-index: 3;
  padding: 10px;
  margin-top: 5px;
  top: 100%;
  left: -25%;
}
.drop-down span:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(97, 78, 78);
}
.drop-down.active .drop {
  display: block;
  animation: show-drop 0.3s;
}
.drop-down .drop li {
  margin: 5px 0;
}
.welcome-message {
  color: #08a9b0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 0 280px;
}
.welcome-message span {
  color: #08a9b0;
}
.settings {
  display: flex;
  gap: 15px;
}

.accordion,
.accordion2 {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 3;
  right: 0;
  height: 24px;
  width: 32px;
}
.accordion img {
  width: 100%;
  transition: transform 1s;
}

.accordion.active img{
  transform: rotate(360deg);
}

.accordion2 span {
  height: 3px;
  width: 30px;
  background: white;
  position: absolute;
  align-self: center;
}
.accordion2::after,
.accordion2::before {
  content: "";
  width: 30px;
  height: 3px;
  background: white;
  position: absolute;
  transition: 0.3s;
}
.accordion2::after {
  align-self: flex-end;
}
.accordion2.active span {
  opacity: 0;
}
.accordion2.active::before {
  align-self: center;
  top: 8px;
  transform: rotate(135deg);
}
.accordion2.active::after {
  top: 8px;
  align-self: center;
  transform: rotate(45deg);
}

.header .accordion2 {
  display: none;
}

.wrapper .accordion{
  order: -2;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(34, 0, 127, 1) 0%,
    rgba(9, 9, 121, 0.41360294117647056) 70%,
    rgba(41, 87, 167, 1) 100%
  );
  padding: 10px 5px;
  width: 100%;
}
nav ul,
nav ul li,
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  min-width: 148px;
  width: 100%;
}
nav ul li a {
  margin: 0 auto;
}
nav ul li a span {
  color: #08a9b0;
  margin-left: 10px;
}

/* Footer style */
.company-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.company-presentation > div {
  margin: 20px 0;
}
.company-presentation > div span {
  color: #ccc;
  font-size: 14px;
  margin: 0 10px;
}
.footer-login {
  margin: 30px 0;
}
.footer-login p {
  color: #777;
  font-size: 15px;
}
.footer-login p span {
  color: #ccc;
  font-weight: bold;
}

/* Main styles */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* Marquee style */
.box {
  background: linear-gradient(
    0deg,
    rgba(34, 0, 127, 0.3) 0%,
    rgba(9, 9, 121, 0.5) 70%,
    rgba(41, 87, 167, 1) 100%
  );
}

.moving-text {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 5px 0;
}
.span-price {
  color: #08a9b0;
  margin-left: 10px;
  width: 80px;
}
.price:nth-child(odd) {
  color: lightgreen !important;
}
.price:nth-child(even) {
  color: #ee2248 !important;
}

.fade:not(.show) {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.fade {
  transition: opacity .15s linear;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

@media (min-width: 576px){
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
}
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (.5rem * 2));
    content: "";
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-footer>:not(:last-child) {
  margin-right: .25rem;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

[tabindex="-1"]:focus {
  outline: 0!important;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;

}


.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes show-drop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(9, 9, 121);
  border-radius: 4px;
  pointer-events: none;
  z-index: 4;
  padding: 10px 15px;
  max-width: 200px;
}
.tooltip a {
  display: block;
  pointer-events: all;
  color: #08a9b0;
}

/* Responsive styles */
@media (min-width: 576px){
  .modal-dialog {
    width: 400px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}

@media (max-width: 1220px) {
  .container {
    width: 800px;
  }
  .header-menu .nav .accordion2{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu-list {
    gap: 30px;
  }
  .accordion2 {
    display: flex;
    right: 0;
  }
  .header-menu nav {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 100%;
    display: flex;
    background: linear-gradient(
      0deg,
      rgba(34, 0, 127, 1) 0%,
      rgba(9, 9, 121, 1) 70%,
      rgba(41, 87, 167, 1) 100%
    );
    align-items: center;
    overflow: auto;
    transition: .5s ease-in;
    flex-direction: column;
  }
  .header-menu.show nav {
    left: 0;
  }
  .header-menu nav ul {
    flex-wrap: wrap;
  }
  .header-menu nav ul li {
    margin: 5px 0;
  }
  .header-menu nav ul li > img {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    width: 450px;
  }
  .header img{
    height: 32px;
    order: 2;
  }
  .wrapper {
    position: fixed;
    justify-content: center;
    flex-direction: column;
    background: rgba(27, 27, 27, 0.95);
    transition: left 0.5s ease-in;
    left: -100%;
    z-index: 2;
    margin-left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .wrapper.show {
    left: 0;
    z-index: 5;
  }
  .wrapper .menu-list {
    flex-direction: column;
    flex-grow: 0;
    gap: 0;
    width: 100%;
  }
  .wrapper .menu-list .drop-down span {
    padding: 10px 0;
  }

  .wrapper .welcome-message {
    display: flex;
    flex-direction: column;
    order: -1;
    text-align: center;
    flex-grow: 0;
    flex-basis: auto;
  }
  .header .accordion2 {
    display: flex;
    order: 3;
    position: relative;
  }

  .header-menu{
    padding: 0;
  }
  .header-menu .accordion2 {
    display: none;
  }
  .accordion {
    display: flex;
  }
  .wrapper.show .accordion {
    display: flex;
    top: 30px;
    right: 30px;
  }
  .drop-down .drop {
    position: static;
  }
  .drop-down.active .drop {
    width: max-content;
    margin: 0 auto;
  }
  .header {
    justify-content: space-between;
  }
  .accordion {
    position: static;
  }
}

@media (max-width: 460px) {
  .container {
    width: 300px;
  }
}