<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../styles/img/ibook_logo.png" />
    <link rel="stylesheet" href="../styles/css/default.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="./index.html"
          ><img src="../styles/img/ibook_logo.png" alt=""
        /></a>
        <ul class="nav-links">
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
        </ul>
      </nav>
    </header>
    <footer></footer>
  </body>
</html>
