<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/img/ibook_logo.png" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <a href="/index.html"><img src="/assets/img/ibook_logo.png" alt="" /></a>
      <ul class="nav-links">
        <li><a href="">Lorem</a></li>
        <li><a href="">Lorem</a></li>
        <li><a href="">Lorem</a></li>
        <li><a href="">Lorem</a></li>
      </ul>
    </nav>

    <section class="container">
      <div class="corpo-forms">
        <img src="/assets/img/ibook_logo.png" alt="Logo-Ibook" />
        <form action="" method="get">
          <input type="email" name="email" id="id_email" placeholder="Email" />
          <input
            type="password"
            name="senha"
            id="id_senha"
            placeholder="Senha"
          />
          <button type="submit">Entrar</button>
        </form>
        <a class="cadastro-screen" href="/registro.html"
          >Não tem login? Cadastre-se aqui.</a
        >
        <label class="google-auth">Login google</label>
      </div>
    </section>
  </body>
</html>
