<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../styles/img/ibook_logo.png" />
    <link rel="stylesheet" href="../styles/css/default.css" />
    <link rel="stylesheet" href="../styles/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- Barra de navegação -->
    <header>
      <nav>
        <a href="./index.html"
          ><img src="../styles/img/ibook_logo.png" alt=""
        /></a>
      </nav>
    </header>
    <!-- Formulário de login -->
    <section class="container">
      <div class="corpo-forms">
        <img src="../styles/img/ibook_logo.png" alt="Logo-Ibook" />
        <form action="" method="POST">
          <input type="email" name="email" id="id_email" placeholder="Email" />
          <input
            type="password"
            name="senha"
            id="id_senha"
            placeholder="Senha"
          />
          <button type="submit">Entrar</button>
        </form>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
