<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../styles/img/ibook_logo.png" />
    <link rel="stylesheet" href="../styles/css/default.css" />
    <link rel="stylesheet" href="../styles/css/login.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
        <nav>
            <p>Ibook sua plataforma de Delivery livros</p>
        </nav>
    </header>
    <p><a href="/login">Fazer login como usuario</a></p>
    <p><a href="/login">Fazer login como parceiro</a></p>
    <p><a href="/cliente/novo">Cadastrar-se como usuario</a></p>
    <p><a href="/serie/novo">Cadastrar-se como parceiro</a></p>
    <p><a href="/login">Fazer login como Admin</a></p>
  </body>