<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../styles/img/ibook_logo.png" />
    <link rel="stylesheet" href="../styles/css/default.css" />
    <link rel="stylesheet" href="../styles/css/opcao-registro.css" />
    <title>registro</title>
  </head>
  <body>
    <!-- Barra de navegação -->
    <header>
      <nav>
        <a href="./index.html"
          ><img src="../styles/img/ibook_logo.png" alt=""
        /></a>
        <ul class="nav-links">
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
          <li><a href="">Lorem</a></li>
        </ul>
      </nav>
    </header>
    <!-- Links que encaminham para o formulário de cadastro respectivo-->
    <div class="container">
      <a href=""><button>Cliente</button></a>
      <a href=""><button>Parceiro</button> </a>
    </div>

    <footer></footer>
  </body>
</html>
