<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/register.css">
  <title>Register - ONNE</title>
</head>

<body>
  <main class="main-container">
    <div class="register-header">
      <img class="logo-size" src="../img/LogoOnneGradiente.png" />
      <p class="information-message">Create an account or</p>
    </div>
    <div class="div-form-register">
      <p class="information-message">General information</p>
      <div class="form-register form">
        <div class="container-form">
          <p class="describe">Please use reliable data, as the use of out company services implies user verification</p>
          <div class="input-container">
            <label class="label-form">Gender</label>
            <select data-field="gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="label-form">First Name</label>
            <input class="input-form" type="text" name="1name" data-field="firstname">
          </div>
          <div class="input-container">
            <label class="label-form">Last Name</label>
            <input class="input-form" type="text" name="2name" data-field="lastname">
          </div>
          <div class="input-container">
            <label class="label-form">Country</label>
            <<<<<<< HEAD:register.html <select id="country" name="country" data-field="country">
              <option value="Yemen">Yemen</option>
              <option value="Zaire">Zaire</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
              </select data-field>
              =======
              <select data-field="country">
                <option value="US">US</option>
                <option value="PT">PT</option>
                <option value="BR">BR</option>
              </select>
              >>>>>>> 6ba88dfad041b9d49f65c68d3274fd5fb7ff4dc7:html/register.html
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">Contact Details</p>
          <div class="input-container">
            <label class="label-form">Email</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="email">
          </div>
          <div class="input-container">
            <label class="label-form">Repeat Email</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="email-confirm">
          </div>
          <br><br>

        </div>
        <div class="container-form">
          <p class="title-container">Set Account Password</p>
          <div class="input-container">
            <label class="label-form">Password</label>
            <input class="input-form" type="password" name="password" id="password" data-field="password">
          </div>
          <div class="password-rules">
            <p class="title-rules">The password must include</p>
            <p class="rule">6 or more characters</p>
            <p class="rule">At least one uppercase and one lowercase letter</p>
            <p class="rule">At least one number or special character(@!#$%*&)</p>
          </div>
          <span></span>
          <div class="input-container">
            <label class="label-form"> Repeat Password </label>
            <input class="input-form" type="password" id="rep-password" data-field="password-confirm">
          </div>

        </div>
        <div class="container-form">
          <p class="title-container">Set Account PIN-code</p>
          <p class="describe">Pin is needed to view some important data, you can use numbers or letters</p>
          <div class="input-pin-container">
            <label class="label-form">PIN-code</label>
            <div class="inputs-pin-container">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-1">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-2">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-3">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-4">
            </div>
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">Your Referrer</p>
          <p class="describe">Enter the email address of the partner of the partner who invited you</p>
          <div class="input-container">
            <label class="label-form">You invited by</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="referrer">
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">User Agreement & Legal Information</p>
          <div class="input-container">
            <p class="label-form">Terms of Service</p>
          </div>

          <div class="terms-container">
            <p style="font-weight: bold; ">PUBLIC OFFER</p><br>
            <p>
              to conclude a Contract for Supporting Services in Investment and Distribution
              <br><br>
              of Cryptocurrency on behalf of the User
              <br><br>
              This Public Offer shall define the procedure and conditions for the conclusion of a Contract for
              Supporting
              Services in Investment and Distribution of Cryptocurrency on behalf of the User to the investment funds of
              ONNE LIMITED and for their subsequent placement in, but not limited to, cryptocurrency markets
              (hereinafter
              referred to as the Contract), fund investments, company product's sales. The specified Contract is
              concluded
              between the User of the website in the information and telecommunication network of Internet, located on
              https://onne.vip domain name (hereinafter referred to as the Website)and ONNE LIMITED (hereinafter
              referred
              to as the Website Administration).
              <br><br>
              This Public Offer is an official public offer of the Website Administration, addressed to the Website
              User,
              to conclude a Contract on the terms set forth below. The Contract shall be deemed concluded from the
              moment
              the User accepts the Public Offer according to the procedure provided by this Public Offer. The acceptance
              of this Public Offer shall mean an individual’s full and unconditional acceptance of all terms and
              conditions of this Public Offer with no exceptions or restrictions on the terms of accession.
              <br><br>
              The registration on the Website and use of the Website functions by the User for receiving information
              services and implementation of investment activity shall be regarded as unconditional confirmation of the
              fact that the User have undertaken to observe and execute provisions of this Public Offer in full.
              <br><br>
              1. Terms and definitions
              <br><br>
              1.1. The following terms and definitions are used in this Public Offer:
              <br><br>
              Cryptocurrency: A type of digital currency.
              <br><br>
              Bonus: Amount of cryptocurrency paid as remuneration as mentioned and displayed at the website.
              <br><br><br>
              1.2. Terms that are not defined in clause 1.1. hereof may be used in this Public Offer as well. In such
              case, the interpretation of a term shall be carried out according to the text of the Public Offer and the
              User Agreement of the Website. If there is no unambiguous interpretation in the text of the document, one
              shall be guided by the interpretation given on the Website or the usual interpretation developed in the
              Internet.
              <br><br>
              2. Procedure for accepting this Public Offer
              <br><br>
              2.1. In order to conclude the Contract on the terms of the Public Offer, the User shall execute its full
              and
              unconditional acceptance.
              <br><br>
              2.2. The acceptance shall be considered received by the Website Administration upon sending a request to
              place monetary funds and / or cryptocurrency in the investment fund of the Website Administration via
              information technologies and technical means of the Website.
              <br><br>
              2.3. The acceptance of the Public Offer by the User means that the User has read the investment rules and
              other rules posted on the Website. In addition, the acceptance of the Public Offer means that the Website
              Administration has received the confirmation that the User has made themselves familiar with risks
              associated to investing, that they realize that investing using the Website bear high risk and may lead to
              complete loss of investments, and accept such risks.
              <br><br>
              3. Subject of the Contract
              <br><br>
              3.1. The activity engaged in attraction of investments shall be carried out on the basis of this Contract.
              <br><br>
              3.2. The Website Administration hereby undertakes to provide the User (Investor) with an access to the
              Website for investment activities in accordance with the provisions of the User Agreement posted on the
              Website, meaning the User shall instruct, and the Website Administration shall perform actions specified
              in
              the rules of management of the investment Fund for and on behalf of and at the expense of the User, and
              the
              User shall pay the remuneration to the Website Administration for such actions performed.
              <br><br>
              3.3. Rights and obligations on the transactions made by the Website Administration in pursuance of this
              Contract shall be accrued to the User directly.
              <br><br>
              3.4. The Website Administration hereby guarantees the absence of contractual and other relations with
              persons, that may influence the fulfillment of this Contract. The Website Administration hereby guarantees
              its independence and objectivity in the course of fulfillment of this Contract.
              <br><br><br>

              3.5. The User accept the investment offer of the Website Administration by making use of the website.
              <br><br>
              4. Procedure for investment
              <br><br>
              4.1. This Contract shall be concluded in writing through information technologies and technical means of
              the
              Website by accepting the investment proposal of the Website Administration, and transferring monetary
              funds
              and/or cryptocurrencies to the the website.
              <br><br>
              5. Rights and obligations of the Website Administration
              <br><br>
              5.1. The Administration shall:
              <br><br>
              5.1.1. act in good faith and in a manner that is best for the User’s interests of;
              <br><br>
              5.1.2. start managing monetary funds and/or cryptocurrency right away upon signing this Contract;
              <br><br>
              5.1.3. perform actions constituting the subject of this Contract in accordance with the rules hereby
              specified;
              <br><br>
              5.1.4. inform the User upon their request on all information on the progress of this Contract execution;
              <br><br>
              5.1.5. perform other duties, which shall be assigned to the Website Administration in accordance with this
              Contract or the law.
              <br><br>
              5.2. The Administration shall have the right to:
              <br><br>
              5.2.1. determine the best way of its actions in relation to assets;
              <br><br>
              5.2.2. instruct third parties to perform actions necessary for the asset management.
              <br><br>
              5.2.4. withhold the amounts of remuneration payable to it under this Contract at the expense of the User
              from all amounts received by it;
              <br><br>
              6. Rights and obligations of the User
              <br><br>
              6.1. The User shall:
              <br><br>
              6.1.1. when concluding this Contract, transfer monetary funds and / or cryptocurrency to the Website
              Administration by transferring the relevant funds to a bank account (address for cryptocurrency transfer)
              specified by the Website Administration;
              <br><br>
              6.1.2. provide the Website Administration with all data necessary for identification and authentication
              procedures, in accordance with the request of the Website Administration;
              <br><br><br>

              6.1.3. bear the risks of the User’s losses and liability for all losses incurred by the Website
              Administration or third parties and other adverse consequences resulting from the User’s failure to
              fulfill
              the obligations provided by this Contract;
              <br><br>
              6.1.4. accept the report of the Website Administration, all documents provided by them and all executed by
              them in accordance with the Contract without delay.
              <br><br>
              6.1.5. reimburse the Website Administration all costs incurred by them in relation to the fulfillment of
              this Contract;
              <br><br>
              6.1.6. pay the remuneration to the Website Administration in accordance with this Contract.
              <br><br>
              6.2. The User shall have the right to:
              <br><br>
              6.2.1. check the fulfillment of the Contract by the Administration by requesting information of interest;
              <br><br>
              6.2.2. make an additional transfer of funds and / or cryptocurrency to the assets at any time during the
              validity of the Contract without the consent of the Administration;
              <br><br>
              6.3. The User hereby confirms and agrees to the terms and rules here specified and give full power to the
              administration to manage their monetary funds/cryptocurrencies.
              <br><br>
              7. Transfer of monetary funds and/or cryptocurrencies by the User to the Website Administration.
              Accounting
              and storage of Assets
              <br><br>
              7.1. The transfer of cryptocurrencies shall be carried out from the User’s nominal account (cryptocurrency
              address) to the personal account (cryptocurrency address) of the investment fund.
              <br><br>
              7.4. Within the framework of the Contract, the date of transfer of cryptocurrency to the Website
              Administration — the date of crediting the cryptocurrency to the personal account (cryptocurrency address)
              of the investment fund.
              <br><br>
              8. Remuneration of the Website Administration
              <br><br>
              8.1. The remuneration of the Website Administration for the asset management services provision shall
              amount
              to 2% of the amount of funds returnable to the User when withdrawing funds from the investment fund.
              <br><br>
              8.2. The Website Administration shall independently deduct the amount of remuneration from the amount
              specified in clause 8.1. hereof when withdrawing assets and returning funds from the investment fund.
              <br><br>
              8.3. The expenses incurred by the Website Administration shall be paid as incurred. The Website
              Administration shall independently and with no prior consent of the User carry out payment of expenses
              from
              the assets and income from the asset management.
              <br><br>
              9. Liability of the parties
              <br><br>
              9.1. The parties shall be liable for nonfulfillment or improper fulfillment of their obligations hereunder
              in accordance with the current legislation.
              <br><br>
              9.2. The Website Administration shall not compensate the User’s losses caused by the difference between
              the
              book value of assets and the value of net assets.
              <br><br>
              9.3. The Website administration shall not be liable for:
              <br><br>
              — occurrence of losses, which became the result of the User’s nonfulfillment or improper fulfillment of
              their obligations under the Contract;
              <br><br>
              — occurrence of losses, which arose in connection with a complete or partial withdrawal of the assets by
              the
              User during the validity of the Contract;
              <br><br>
              9.4. The expected profitability shall not impose any obligations to achieve it on the Website
              Administration
              and shall not be a guarantee for the User.
              <br><br><br>

              9.5. The Website Administration’s liability to the User for nonfulfillment or improper fulfillment of its
              obligations under the Contract including the payment of penalties, damages, interest payments shall be
              limited to the amount of the remuneration received hereunder starting from the beginning of the Contract’s
              validity.
              <br><br>
              10. Dispute settlement
              <br><br>
              10.1. All disputes and disagreements that may arise between the Parties on issues not resolved in the text
              of this Contract shall be resolved through negotiations.
              <br><br>
              11. Final provisions
              <br><br>
              11.1. The Website Administration and the User represent and warrant to each other that:
              <br><br>
              — everyone has the rights and powers to sign, act and fulfill obligations under the Contract;
              <br><br>
              — signing and fulfillment of the Contract neither at the present moment, nor in the future will not:
              <br><br>
              a) go in contrary with any law, regulation, directive, judgment or order applicable to such, or
              <br><br>
              b) cause actual or potential breach or default of any obligation or agreement, to which the Party is
              concerned is a party or which binds the Party.
              <br><br>
              11.2. By signing the Contract, the User represents and warrants that:
              <br><br>
              — the cryptocurrency and other funds transferred under the Contract are not pledged, arrested and are not
              the subject of a claim of third parties;
              <br><br>
              — The User has made themselves familiar with the investment fund management rules;
              <br><br>
              — The User shall independently monitor the placement of information on amendments and additions made to
              the
              above documents on the Website, and shall bear the risks of adverse consequences caused by the lack of
              information posted by the User on the Website;
              <br><br>
              — all and any personal data provided to the Administration contain complete and accurate information on
              the
              User and their assets as on the date of providing such information.
              <br><br>
              11.3. The parties hereby agree to consider these representations of circumstances and guarantees as
              essential terms of the Contract.
              <br><br>
              11.4. None of the Parties to the Contract shall have no right to disclose any information obtained on each
              other and became known to them as a result of the conclusion and execution of the Contract to third
              parties,
              except upon of the authorized body, the court or the auditor of the Administration during the validity and
              upon expiry of the Contract, and each party will make every effort to prevent such disclosure and
              dissemination of information. The disclosure of information to professional consultants and auditors of
              the
              Parties and their affiliates shall not be considered a violation of this paragraph.
              <br><br>
              11.5. In everything else not provided by the Contract the user should guide itself by the information
              displayed in the website.
            </p>
          </div>
        </div>
        <div class="checkbox-container">
          <label>
            <input id="check-1" type="checkbox" class="terms-checkbox" data-field="terms-1">
            I have need and agree to the terms of service
          </label>
          <label>
            <input id="check-2" type="checkbox" class="terms-checkbox" data-field="terms-2">
            I have need the <a color="#ffe456">privacy policy</a>
          </label>
          <label>
            <input id="check-3" type="checkbox" class="terms-checkbox" data-field="terms-3">
            I agree to the processing of personal data
          </label>
        </div>
        <hr style="border: 1px solid #808080;" />
        <div class="completation-form">
          <div class="captcha-container">CAPTCHA</div>
          <div>
            <input type="submit" class="submit-button button-rgb" value="CREATE AN ACCOUNT" id="submit" />
          </div>
        </div>
      </div>
    </div>
    <div class="company-presentation">
      <img src="../svg/Logo ONNE.svg" alt="">
      <div>
        <span>Company presentation</span>
        <span>Affiliate program</span>
      </div>
    </div>
    <footer class="footer-login">
      <p>Copyright &#169 2020 <span>Onne group limited</span></p>
    </footer>
  </main>
</body>

</html>