<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/css/register.css">
  <title>Register - ONNE</title>
</head>

<body>
  <main class="main-container">
    <div class="register-header">
      <img class="logo-size" src="../img/LogoOnneGradiente.png" />
      <p class="information-message">Create an account or</p>
    </div>
    <div class="div-form-register">
      <p class="information-message">General information</p>
      <div class="form-register form">
        <div class="container-form">
          <div class="input-container">
            <label class="label-form">Gender</label>
            <select data-field="gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
          </div>
          <div class="input-container">
            <label class="label-form">First Name</label>
            <input class="input-form" type="text" name="1name" data-field="firstname">
          </div>
          <div class="input-container">
            <label class="label-form">Last Name</label>
            <input class="input-form" type="text" name="2name" data-field="lastname">
          </div>
          
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">Contact Details</p>
          <div class="input-container">
            <label class="label-form">Email</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="email">
          </div>
          <div class="input-container">
            <label class="label-form">Repeat Email</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="email-confirm">
          </div>
          <br><br>

        </div>
        <div class="container-form">
          <p class="title-container">Set Account Password</p>
          <div class="input-container">
            <label class="label-form">Password</label>
            <input class="input-form" type="password" name="password" id="password" data-field="password">
          </div>
          <div class="password-rules">
            <p class="title-rules">The password must include</p>
            <p class="rule">6 or more characters</p>
            <p class="rule">At least one uppercase and one lowercase letter</p>
            <p class="rule">At least one number or special character(@!#$%*&)</p>
          </div>
          <span></span>
          <div class="input-container">
            <label class="label-form"> Repeat Password </label>
            <input class="input-form" type="password" id="rep-password" data-field="password-confirm">
          </div>

        </div>
        <div class="container-form">
          <p class="title-container">Set Account PIN-code</p>
          <p class="describe">Pin is needed to view some important data, you can use numbers or letters</p>
          <div class="input-pin-container">
            <label class="label-form">PIN-code</label>
            <div class="inputs-pin-container">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-1">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-2">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-3">
              <input class="input-form input-pin" type="text" maxlength="1" data-field="pin-4">
            </div>
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">Your Referrer</p>
          <p class="describe">Enter the email address of the partner of the partner who invited you</p>
          <div class="input-container">
            <label class="label-form">You invited by</label>
            <input class="input-form" type="text" placeholder="example@domain.com" data-field="referrer">
          </div>
        </div>
        <div class="container-form">
          <p class="title-container">User Agreement & Legal Information</p>
          <div class="input-container">
            <p class="label-form">Terms of Service</p>
          </div>

         
        <div class="checkbox-container">
          <label>
            <input id="check-1" type="checkbox" class="terms-checkbox" data-field="terms-1">
            I have need and agree to the terms of service
          </label>
          <label>
            <input id="check-2" type="checkbox" class="terms-checkbox" data-field="terms-2">
            I have need the <a color="#ffe456">privacy policy</a>
          </label>
          <label>
            <input id="check-3" type="checkbox" class="terms-checkbox" data-field="terms-3">
            I agree to the processing of personal data
          </label>
        </div>
        <hr style="border: 1px solid #808080;" />
        <div class="completation-form">
          <div>
            <input type="submit" class="submit-button button-rgb" value="CREATE AN ACCOUNT" id="submit" />
          </div>
        </div>
      </div>
    </div>
    <div class="company-presentation">
      <img src="../svg/Logo ONNE.svg" alt="">
      <div>
        <span>Company presentation</span>
        <span>Affiliate program</span>
      </div>
    </div>
    <footer class="footer-login">
      <p>Copyright &#169 2020 <span>Onne group limited</span></p>
    </footer>
  </main>
</body>

</html>