<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/default.css" />
    <link rel="stylesheet" href="../styles/css/test.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <form action="#" class="grid-form">
          <div class="form-header">
            <div class="title">
              <h1>Cadastre-se</h1>
            </div>
          </div>
    
          <div class="input-box">
            <label for="nameComplete">Nome completo</label>
            <input
              id="nameComplete"
              type="text"
              name="nameComplete"
              placeholder="Digite seu nome completo"
              required
            />
          </div>
    
          <div class="input-box">
            <label for="email">E-mail</label>
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>
    
          <div class="input-box">
            <label for="number">Celular</label>
            <input
              id="number"
              type="tel"
              name="number"
              placeholder="(xx) xxxxx-xxxx"
              required
            />
          </div>
    
          <div class="input-box">
            <label for="password">Senha</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Digite sua senha"
              required
            />
          </div>
    
          <div class="input-box">
            <label for="cidade">Cidade</label>
            <input
              id="cidade"
              type="password"
              name="confirmPassword"
              placeholder="Digite sua cidade"
              required
            />
          </div>
    
          <div class="input-box">
            <label for="UF">Estado</label>
            <select id="UF" name="UF">
              <option value="">Selecione</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option
    
  </body>
</html>
